/* for whole webpage */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* links */

a:visited {
    text-decoration: none;
}

/* header and nav */

header {
    background-color: grey;
    display: flex;
    justify-content: space-between;
}

header h1 {
    color: #6699CC;
    padding: 20px 20px 20px 70px;
    font-weight: bold;
    background-color: lightblue;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

header a {
    color: navy;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin-right: 80px;
}

header nav ul li {
    padding: 40px 10px;
    font-weight: bold;
    text-decoration: underline 3px;
    text-underline-offset: 3px;
}

/* hero image and subtitle */

.hero {
    background-image: url(../images/background.png);
    background-size: cover;
    background-position: center;
}

.subtitle h2 {
    text-align: right;
    padding: 150px 80px 40px 80px;
    color: white;
}

/* about me */

.aboutme {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    text-align: center;
}

.work {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    text-align: center;
}

.contact {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    text-align: center;
}

.resume {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    text-align: center;
}
.leftside {
    flex: 1;
    max-width: 20%;
    border-right: 1px solid navy;
}

.leftside h3 {
    padding: 10px;
    text-align: center;
    padding: 10px;
    color: navy;
    font-size: 28px;
}

.rightside {
    flex: 1;
    padding: 10px;
}


/* footer */

footer {
    background-color: grey;
    margin-top: 10px;
}

footer h4 {
    padding: 10px;
}