/* for whole webpage */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: navy;
    text-align: left;
}

/* links */

a:visited {
    text-decoration: none;
}

/* header and nav */

header {
    background-color: grey;
    display: flex;
    justify-content: space-between;
}

.egg {
    width: 25%;
    height: auto;
    vertical-align: middle;
}

header h1 {
    color: #6699CC;
    padding: 10px 10px 10px 70px;
    font-weight: bold;
    background-color: lightblue;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

header a {
    color: navy;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin-right: 80px;
}

header nav ul li {
    padding: 50px 10px 10px 10px;
    font-weight: bold;
    text-decoration: underline 3px;
    text-underline-offset: 3px;
    font-size: 20px;
}

/* hero image and subtitle */

.hero {
    background-image: url(../images/background.png);
    background-size: cover;
    background-position: center;
}

.subtitle h2 {
    text-align: right;
    padding: 175px 80px 40px 80px;
    color: white;
}

/* general styling for main body of webpage */

.leftside {
    flex: 1;
    max-width: 10%;
    border-right: 2px solid navy;
}

.leftside h3 {
    text-align: left;
    color: navy;
    font-size: 28px;
}

.rightside {
    flex: 1;
    padding-left: 20px;
    max-width: 90%;
}

.rightside a {
    font-weight: bold;
    text-decoration: none;
    color: navy;
    font-size: 20px;
}

/* about me section */

.aboutme {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    text-align: center;
}

/* work section */

.work {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    text-align: center;
}

.runbuddy {
    max-width: 100%;
    border: 3px solid grey;
    border-radius: 3px;
    padding-bottom: 5px;
}

.running {
    position: relative;
    text-align: center;
    background-color: grey;
    border-radius: 5px;
    padding: 3px 3px 10px 3px;
}

.otherwork {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.work1, .work2, .work3 {
    flex: 1;
    margin: 10px 10px 10px 0;
    position: relative;
    text-align: center;
    background-color: grey;
    border-radius: 5px;
    padding: 3px 3px 10px 3px;
}

.work4 {
    flex: 1;
    margin: 10px 0 10px 10px;
    position: relative;
    text-align: center;
    background-color: grey;
    border-radius: 5px;
    padding: 3px 3px 10px 3px;
}
.soon1, .soon2, .soon3, .soon4 {
    max-width: 100%;
    border: 3px solid grey;
    border-radius: 3px;
    padding-bottom: 5px;
}
 /* contact section */

.contact {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    text-align: center;
}

/* resume seciton */

.resume {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    text-align: center;
}

/* footer */

footer {
    background-color: grey;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

footer h4 {
    padding: 10px;
    color: navy;
}

/* Media queries styling */

@media screen and (max-width: 1024px) {
    header {
        display: flex;
        flex-direction: column;
    }

    header h1 {
        font-size: 30px;
        margin: 20px;
        padding: 20px;
        border-radius: 5px;;
    }

    header nav ul {
        margin: 20px;
        padding: 0 40px 0 40px;
    }

    header nav ul li {
        padding: 10px 0 10px 0;
        font-size: 20px;
    }
    
    .leftside {
        max-width: 20%;
    }

    .leftside h3 {
        font-size: 30px;
        text-align: left;
    }

    .rightside {
        max-width: 80%;
    }

    p {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
    }

    header h1 {
        font-size: 50px;
        margin: 20px;
        padding: 20px;
        border-radius: 5px;;
    }

    header nav ul {
        margin: 20px;
        padding: 0 40px 0 40px;
    }

    header nav ul li {
        padding: 10px;
        font-size: 25px;
    }
    
    .leftside {
        max-width: 25%;
    }

    .leftside h3 {
        font-size: 20px;
        text-align: left;
    }

    .rightside {
        max-width: 75%;
    }

    p {
        font-size: 18px;
    }
}

@media screen and (max-width: 575px) {
    header {
        display: flex;
        flex-direction: column;
    }

    header h1 {
        font-size: 50px;
        margin: 20px;
        padding: 20px;
        border-radius: 5px;;
    }

    header nav ul {
        margin: 20px;
        padding: 0 40px 0 40px;
    }

    header nav ul li {
        padding: 10px;
        font-size: 25px;
    }
    
    .leftside {
        max-width: 25%;
    }

    .leftside h3 {
        font-size: 20px;
        text-align: left;
    }

    .rightside {
        max-width: 75%;
    }

    p {
        font-size: 18px;
    }
}